/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    background-color: #e5e6e7;
    border-radius: 15px;
    overflow: hidden;
    
}

.sidebar {
    width: 80px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.sidebar .icon {
    width: 40px;
    height: 40px;
    background-color: #121111;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    transition: 1s;
    font-size: 20px;
}
.sidebar .icon:hover{
    background-color: #fff ;
    color: #000000;
}

.main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pay-btn:hover{
    background-color: #000000;
    color: #fff;
}
.nesy-btn:hover{
    background-color: #ffffff;
    color: #0f0f0f;
}

.header {
    display: flex;
    align-items: center;
}

.cart-icon {
    width: 60px;
    height: 60px;
    background-color: #111212;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 30px;
}

.checkout h2 {
    margin-left: 20px;
    color: #000000 !important;
    font-weight: 700;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.pay-btn, .nesy-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.pay-btn {
    background-color: #ffffff;
    color: #000000;
}

.nesy-btn {
    background-color: #1c1e20;
    color: #ffffff;
}
